	
		.h2 {
		      position:relative;
			  float:left;
			  width:10em;
			  padding:1em;
			  }
	
			  
	    p.cbody
			{
				position:relative;
				float:left;
				margin-top:1em;
				margin-bottom:1em;
				padding:0.5em;
			
			}
			  
	    #message
			{
				position:relative;
				float:right;
				background-color:white;
				border:solid black 1px;
				width:auto;
				font-size:1.7em;
				padding:1em;
				margin-right:2em;
				color:blue;
				
			
			}
		#hmenuContainer, #footOuter
		
			{}
		
		#wsfContainer, #intContainer
			{
				position:relative;
				padding-bottom:2em;
				cursor:pointer;
				width:100%;
				float:left;
			}
		.bkWhiteCBlue
			{
				background-color:white;
				color:blue;
			
			}


	      
		#aboutContainer 
			{
				position:relative;
				float:left;
				border-top-width:20px;
				border-bottom-width:25px;
				border-right-width:20px;
				border-left-width:20px;
				border-style:ridge;
				border-color:grey;
				height:auto;
				width:95%;
				padding:1%;
	
			}
			
		span.ui-button-icon-primary.ui-icon.ui-icon-home ,span.ui-button-icon-secondary.ui-icon.ui-icon-locked, span.ui-button-icon-secondary.ui-icon.ui-icon-unlocked{
			     
					-webkit-transform: scale(2);
					-moz-transform: scale(2);
					transform: scale(2);  
					
				}			
			
			
			